.form-wrap {
  color: rgba(0, 0, 0, 0.87);
  padding: 20px 35px;
}
.margin-negative {
  margin-bottom: -13px;
}
form p {
  font-size: 17px;
}
.input-field input[type="text"]:focus + label {
  color: #527dc6;
}
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #527dc6;
  box-shadow: 0 1px 0 0 #527dc6;
}
input:not([type]).valid, input:not([type]):focus.valid, input[type="text"].valid, input[type="text"]:focus.valid, input[type="password"].valid, input[type="password"]:focus.valid, input[type="email"].valid, input[type="email"]:focus.valid, input[type="url"].valid, input[type="url"]:focus.valid, input[type="time"].valid, input[type="time"]:focus.valid, input[type="date"].valid, input[type="date"]:focus.valid, input[type="datetime"].valid, input[type="datetime"]:focus.valid, input[type="datetime-local"].valid, input[type="datetime-local"]:focus.valid, input[type="tel"].valid, input[type="tel"]:focus.valid, input[type="number"].valid, input[type="number"]:focus.valid, input[type="search"].valid, input[type="search"]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #527dc6;
  box-shadow: 0 1px 0 0 #527dc6;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.result-wrapper {
  margin-top: 10px;
}
.result-wrapper hr {
  margin-bottom: 10px;
  border-color: #527dc6;
}
.result {
  padding: 10px 0;
}
.button-handler {
  margin-bottom: 10px;
}
@media (max-width: 660px) {
  .header-accent {
    height: 122px;
 }
  .button-handler {
    width: 100%;
 }
}
